[user]
	email = lucas.gestin.pro@gmail.com
	name = lgestin

[init]
	defaultBranch = master
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[rerere]
	enabled = true
[diff]
	algorithm = histogram

[core]
	editor = vim

[include]
	path = ~/.gitconfig.local
